.container{
    background-color: black;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
}

.blue-fire{
    width:400px;
    height: 100px;
    position: fixed;
    display: inline-block;
    // left: -30%;
    z-index: 1;
}

.enemy-container{
    width:100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center !important;
    z-index:2;
}

.enemy-img{
    width:60px;
    height: 60px;
}

.search::placeholder{
    color: white;
}

.virtual-scroll-container{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding-top: 150px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.hero-container{
    width:100%;
    height:512px;
    // margin:auto;
    // margin-top: 150px;
}

.hero{
    width:300px;

    margin:auto;
    margin-bottom: 10px;
}

.hero-detail{
    display:flex;
}

.hero-img{
    width:50px;
    height:50px;
    
    border-radius: 50%;
    border-top-right-radius: 0;
    border: 2px solid gray;
}

.hero-name-container{
    width: 240px;
    height: 50px;

    // text-align: center
    // display: flex;
    // align-items: center; /* Vertical center alignment */
    // justify-content: center; /* Horizontal center alignment */

    
    margin: 0;
}

.hero-name{
    width:100%;
    height:20px;

    padding-top: 5px;
    padding-left: 5px;
    color: white;
}

.pos-score{
    padding-top: 10px;
    color:green;
}

.zero-score{
    padding-top: 10px;
    color: red;
}

.hero-img-selected{
    border: 2px solid #b3ecff !important;
    border-bottom-left-radius: 0 !important;
    box-shadow:
        0 0 .5rem #fff,
        inset 0 0 .5rem #fff,
        0 0 1rem #08f,
        inset 0 0 1rem #08f,
        0 0 2rem #08f,
        inset 0 0 2rem #08f;  
}

.hero-strength-container{
    display: flex;
}

.hero-strength{
    width: 298px;
}

.role-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.role{
    display: flex;
    align-items: center;
    justify-content: center;
}

.role-img{
    width:30px;
    height:30px;
}

.role-name{
    color:white;
}

.skill-container{
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;
    
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}

.skill-img{
    width: 40px;
    height: 40px;
}

.skill-name{
    width:30px;
    color:white;
    font-size: 8px;
    text-align: center;
}

.counter-container{
    width: 298px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.counter-img{
    width: 40px;
    height: 40px;

    padding-right: 10px;
}

.counter-text{
    width: 220px;

    color: white;
    font-size: 9px;
    text-align: center;
}

.counter-text-line{
    padding-bottom: 5px;
}

.credit{
    width: 300px;
    color: white;
    font-size: 8px;
    text-align: center;
    margin-top: 5px;
}

.credit-license{
    color: green;
}

.neon{
    width:100%;
    height:2px;
    background-color: gray;
}

.neon-col{
    width:2px;
    height:auto;
    background-color: gray;
}

.neon-selected{
    background-color: white;
    box-shadow:
        0 0 .5rem #fff,
        inset 0 0 .5rem #fff,
        0 0 1rem #08f,
        inset 0 0 1rem #08f,
        0 0 2rem #08f,
        inset 0 0 2rem #08f; 
}


.footer{
    width: 100%;
    height: 50px;

    position: fixed;
    bottom: 10px;
    
    display:flex;
    justify-content: center;
    align-items: center;
}

.search-bar{
    width: 280px;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;

    border: 2px solid gray;
    border-radius: 25px;

    background-color: #343a40;
    color: white;
    opacity: 85%;
}

.search-icon{
    color:white;
}

.search, .search:focus{
    width:70%;
    outline: none;

    border:0;
    background-color: #343a40;
    color: white;

    font-size: 20px;
}

.config{
    width: 100%;

    position: fixed;
    
    top:100px;
    padding-top:10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    opacity: 85%;
}

.reset{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 20px;
    background-color: lightcoral;
    color: white;
    // border: none;
}

.toggle-bar {
    // height: 50px;
    // width: 100%;

    // position: fixed;
    // top:100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    opacity: 85%;
}

.toggle{
    color:white;
    font-size: 15px;
}
