
<div class="container">

    <img class="blue-fire" [src]="AssetsService.of('Blue Fire')">
        
    <div class="enemy-container">
        <div *ngFor="let enemy of enemies" (click)="onSelect(enemy)">
            <img class="enemy-img" [src]="AssetsService.of(enemy.name)">
        </div>
    </div>

    <div class="config">
        <button class="reset" (click)="onReset()">Reset</button>
    
        <div class="toggle-bar">
            <mat-slide-toggle class="toggle" [checked]="locked" [(ngModel)]="locked" (change)="onLock()">
                Lock
            </mat-slide-toggle>
        </div>
    </div>

    <div class="virtual-scroll-container">
        <cdk-virtual-scroll-viewport [itemSize]="64" class="hero-container">
            <div 
                *cdkVirtualFor="let hero of filteredHeroes"
                [class.hero]="true">
                <div class="hero-detail" (click)="onSelect(hero)">
                    <img 
                        class="hero-img" 
                        type="video/mp4"
                        [src]="AssetsService.of(hero.name)"
                        [class.hero-img-selected]="hero===selectedHero">
                    
                    <span class="hero-name-container" >
                        <div 
                            class="neon" 
                            [class.neon-selected]="hero===selectedHero" ></div>
                            
                        <div style="display: flex;">
                            <h2 class="hero-name" style="margin:0">{{hero.name}}</h2>
                            <div [class.pos-score]="hero.score > 0" [class.zero-score]="hero.score===0" *ngIf="locked">{{hero.score}}</div>
                        </div>
                    </span>
                </div>

                <div
                    *ngIf="hero===selectedHero" 
                    class="hero-strength-container">

                    <div class="neon-col neon-selected"></div>
                    
                    <div class="hero-strength" *ngIf="!locked">
                        <div class="role-container">
                            <div 
                                class="role" 
                                *ngFor="let role of hero.roles">

                                <img class="role-img" [src]="AssetsService.of(role)">
                                <span class="role-name">{{role}}</span>
                            </div>
                        </div>
                        <div class="skill-container">
                            <div 
                                class="skill" 
                                *ngFor="let skill of hero.skills">

                                <img class="skill-img" [src]="AssetsService.of(skill)">
                                <span class="skill-name">{{skill}}</span>
                            </div>
                        </div>
                        <div class="credit">
                            dota2.gamepedia.com <span class="credit-license">CC BY-NC-SA 3.0</span>
                        </div>
                    </div>

                    <div class="counter-container" *ngIf="locked">
                        <div 
                            
                            *ngFor="let enemy of enemies">
                            <div class="counter" *ngIf="counters[enemy.name] && counters[enemy.name][hero.name]">
                                <img class="counter-img" [src]="AssetsService.of(enemy.name)">
                                <div class="counter-text">
                                    <div class="counter-text-line" *ngFor="let line of counters[enemy.name][hero.name]">
                                        {{line}}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="credit">
                            dota2.gamepedia.com <span class="credit-license">CC BY-NC-SA 3.0</span>
                        </div>
                    </div>
                </div>

            </div>
        </cdk-virtual-scroll-viewport>
    </div>

    <div class="footer">
        <div class="search-bar">
            <i class="material-icons search-icon">search</i>
            <input 
                [(ngModel)]="searchText"
                (input)="onSearch()"
                class="search" type="text" 
                placeholder="Enter hero's name">
        </div>
    </div>
</div>